{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load comments %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.authors }}</p>
<p>Reporter: {{ object.list }}</p>
<p>Published: {{ object.pub_date|date }}</p>
<p>Date: {{ object.year }}</p>

{% get_comment_count for object as comment_count %}
<div class="py-4 text-center">
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve" }} been posted.
</div>
{% if comment_count %}
<hr/>
<div class="comments">
  {% render_comment_list for object %}
</div>
{% endif %}

<div class="card card-block mb-5">
  <div class="card-body">
    <h4 class="card-title text-center pb-3">Post your comment</h4>
      {% render_comment_form for object %}
  </div>
</div>
{% endblock %}
